.spinner.hcenter {
    display: table;
    margin: auto;
}
.spinner.voffset {
    display: table;
    margin-top: 100px;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.page-header {
    padding: 16px 16px 0px 16px;
}