<ion-view title="Activity Details">
  <ion-content>
    <ion-spinner class="hcenter voffset" ng-show="!vm.activity"></ion-spinner>
    <div class="list card" ng-show="vm.activity">
      <div class="item">
        <h2>{{vm.activity.name}}</h2>
        <p>{{vm.activity.type}}</p>
      </div>
    </div>
    <div class="card" ng-show="vm.activity">
        <div class="item item-divider item-icon-right">
            Track Activity
            <i class="icon ion-calendar"></i>
        </div>
        <div class="item item-text-wrap">
            <h3>{{vm.activityTracking.administrationDate | amDateFormat:'dddd, MMMM Do YYYY'}}</h4>
            <div class="list">
                <ion-checkbox class="item" ng-model="vm.activityTracking.isAdministered">I took my medication</ion-checkbox>
                <div class="item" ng-click="vm.openTimePicker()" ng-show="vm.activityTracking.isAdministered"> At:
                    <span style="padding-left: 24px;" ng-bind="vm.activityTracking.administrationTime | amUtc | amDateFormat:'h:mm:ss a'"></span>
                    <i class="icon ion-clock pull-right" style="font-size: 22pt !important"></i></div>
            </div>
        </div>        
    </div>
    
  </ion-content>
</ion-view>
