<ion-view title="Care Plans">
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-close-circled" ng-click="vm.listHideAll()" ng-show="vm.isListShowDelete || vm.isListShowReorder"></button>
        <button class="button button-icon ion-more" ng-click="vm.showOptions($event)"></button>
    </ion-nav-buttons>

    <ion-content scroll="true">
        <!--<ion-refresher pulling-text="Pull to refresh..." on-refresh="vm.refresh()"></ion-refresher>-->
        <h1 class="page-header">Jason Argonaut</h1>
        
        <div class="card"
            ng-repeat="treatment in vm.treatments"
            item="treatment"
        >
            <ion-list
                show-delete="vm.isListShowDelete"
                show-reorder="vm.isListShowReorder"
            >
                <ion-item class="item-icon-right" ng-repeat="( index, activity ) in treatment.activity" item="activity" ui-sref="app.tabs.treatment-activity({ treatmentId: treatment.id, activityId: $index })">
                    <h2 class="text-uppercase">
                        {{ activity.type }}
                    </h2>
                    <i class="icon ion-chevron-right"></i>
                    <p>
                        {{ activity.description }}
                    </p>
                    <small ng-show="activity.detail.scheduledPeriod.start">
                        Scheduled: 
                        <span am-time-ago="activity.detail.scheduledPeriod.start"></span>
                    </small>
                    <p ng-show="activity.detail.dosage">
                        <small>Dosage: <span ng-bind="activity.detail.dosage"></span></small>
                    </p>
                </ion-item>
            </ion-list>
        </div>

        <ion-spinner class="hcenter voffset" ng-show="!vm.treatments"></ion-spinner>
    </ion-content>
</ion-view>
